html
  head
    
    link(rel="stylesheet", href="/static/bundle.css")
    |
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css", integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/", crossorigin="anonymous")
  body
    div(id="root")
    |
    script(src="/static/bundle.js")