// Add normalizer;
@import "./normalizer.scss";

// Import Font
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700");

.wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

a {
  color: #000;
  text-decoration: none;
}

.center {
  text-align: center;
}

.error {
  background: #ff005e;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  border-radius: 5px;
  font-weight: 300;
  display: grid;
  grid-template-columns: 3fr 1fr;
  p {
    margin: 0;
  }
  button {
    color: #fff;
  }
}

// Add auth
@import "./auth.scss";

@import "./Header.scss";

@import "./Dashboard.scss";

@import "./error";
