header {
  padding: 1rem 0;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0px 2px 10px 5px #8f8b8b;
}

.shadow {
  display: grid;
  grid-template-columns: 3fr 1fr;
}


h1 {
  margin: 0;
  font-weight: 400;
}

.auth_links-block {
  align-self: center;
  text-align: center;
}

.auth_link {
  font-size: 1.2rem;
  margin: 0.5rem;
}